@import "tailwindcss";

* {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
}

html,
body {
  background-color: #91785d;
  overflow-x: hidden;
  overflow-y: hidden;
}

.war-title-shadow {
  text-shadow: -0.8px -0.5px 0 black;
}

@theme {
  --spacing-400px: 400px;

  --color-orange-darker: #352314;
  --color-orange-dark: #53381f;
  --color-yellow-darker: #3e3315;
  --color-gray-navigation: #878787;
  --color-text-primary: #e7ddc3;
  --color-yellow-normal: #b2913c;
  --color-green-active: #238011;
  --color-red-pl: #e35656;

  --text-extra-small: 0.625rem;
  --text-small: 0.812rem;
  --text-base: 1rem;
  --text-bigger-base: 1.25rem;
  --text-large: 1.562rem;
  --text-extra-large: 1.938rem;
  --text-2x-large: 2.438rem;
  --text-3x-large: 3.062rem;
  --text-4x-large: 3.812rem;
}
