@import "tailwindcss";

@font-face {
  font-family: "Roboto";
  src: url("public/fonts/roboto/Roboto-VariableFont_wdth_wght.ttf");
}

* {
  font-family: "Roboto", sans-serif;
}

html,
body {
  background-color: black;
  overflow-x: hidden;
  overflow-y: hidden;
}

#root {
  width: 100vw;
  height: 100vh;
  background-color: #91785d;
}

.war-title-shadow {
  text-shadow: -0.8px -0.5px 0 black;
}

@theme {
  --spacing-400px: 400px;
  --color-orange-darker: #352314;
  --color-orange-dark: #53381f;
  --color-orange-normal: #7d542e;
  --color-yellow-darker: #3e3315;
  --color-gray-navigation: #878787;
  --color-text-primary: #e7ddc3;
  --color-yellow-normal: #b2913c;
  --color-green-active: #238011;
  --color-brown-dark: #574838;
  --color-red-pl: #e35656;

  --color-gray-enemy: #dad7d7;

  --text-extra-small: 0.625rem;
  --text-small: 0.812rem;
  --text-base: 1rem;
  --text-bigger-base: 1.25rem;
  --text-large: 1.562rem;
  --text-extra-large: 1.938rem;
  --text-2x-large: 2.438rem;
  --text-3x-large: 3.062rem;
  --text-4x-large: 3.812rem;

  --breakpoint-xs: 460px;
}

.leaflet-control-attribution path {
  display: none;
}
